nav {
  padding-top: .5rem;
}

.container {
  max-width: 55rem;
  text-align: justify;
  text-justify: inter-word;
}

.hack hr {
  height: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer {
  font-size: 75%;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer #contact {
  flex: 1 1 auto;
  order: 0;
  text-align: left;
}

.footer #location {
  flex: 1 1 auto;
  order: 1;
  text-align: center;
}

.footer #powered-by {
  flex: 1 1 auto;
  order: 2;
  text-align: right;
}
