{{ define "main" }}
  <textarea id="source">
class: center, middle
# {{ .Title }}
---
{{ .RawContent }}
---
class: center, middle
# End
  </textarea>
  <script>
    /*
     * Adding a macro to allow easily scaling an image; e.g.
     *
     *     ![:scale 50%](image.png)
     *
     * see also: https://github.com/gnab/remark/issues/72
     */
    remark.macros.scale = function (percentage) {
      var url = this;
      return '<img src="' + url + '" style="width: ' + percentage + '" />';
    };

    var slideshow = remark.create({});
  </script>
{{ end }}
