<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
    <title>{{ .Site.Title }}</title>
  </head>
  <body class="hack container">
    <header>
      {{ partial "header" . }}
    </header>
    <main>
      <ul>
        {{ range where .Data.Pages.ByDate.Reverse "Section" "post" }}
          <li>
            {{ .Date.Format "02 Jan 2006" }}
            &raquo;
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ if ne .Type "post" }}
              ({{ .Type }})
            {{ end }}
          </li>
        {{ end }}
      </ul>
      <footer>
        {{ partial "footer-index" . }}
      </footer>
  </body>
</html>
